<body>
  <div class="preloader">
    <div class="preloder-wrap">
      <div class="preloder-inner">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
    </div>
  </div>
  <!--/.preloader-->
  <header id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">
            <h1>
              <img src="./assets/images/logom25.jpg" alt="logo">
            </h1>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active">
              <a href="#navigation">Başlangıç</a>
            </li>
            <li class="scroll">
              <a href="#about-us">Küsur-AT</a>
            </li>
            <li class="scroll">
              <a href="#services">Kullanım</a>
            </li>
            <li class="scroll">
              <a href="#our-team">Marduk Team</a>
            </li>
            <li class="scroll">
              <a href="#portfolio">Galeri</a>
            </li>
            <li class="scroll">
              <a href="#clients">Hedef Kitle</a>
            </li>
            <li class="scroll">
              <a href="#blog">Detaylar</a>
            </li>
            <li class="scroll">
              <a href="#contact">İletişim</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/navbar-->
  </header>
  <!--/#navigation-->

  <section id="home">
    <div class="home-pattern"></div>
    <div id="main-carousel" class="carousel slide" data-ride="carousel">

      <!--/.carousel-indicators-->
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(assets/images/slider/slide1.jpg)">
          <div class="carousel-caption">
            <div>
              <h2 class="heading animated bounceInDown">'Himu' Onepage HTML Template</h2>
              <p class="animated bounceInUp">Fully Professional one page template</p>

            </div>
          </div>
        </div>


      </div>
      <!--/.carousel-inner-->

      <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>

  </section>
  <!--/#home-->

  <section id="about-us">
    <div class="container">
      <div class="text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="title-one">NEDİR?</h2>
          <p>Küsur-at 4.sınıftan 8.sınıfa kadar her öğrencinin kullanabileceği bir matematik asistanıdır.</p>
        </div>
      </div>
      <div class="about-us">
        <div class="row">
          <div class="col-sm-6">
            <h3>Özellikler</h3>
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#about" data-toggle="tab">
                  <i class="fa fa-pencil-square-o"></i>İşlem Yapma</a>
              </li>
              <li>
                <a href="#mission" data-toggle="tab">
                  <i class="fa fa-th-large"></i>Animasyonlar</a>
              </li>
              <li>
                <a href="#community" data-toggle="tab">
                  <i class="fa fa-users"></i>Konu Anlatımı</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="about">
                <div class="media">
                  <img class="pull-left media-object" src="assets/images/about-us/about.jpg" alt="about us">
                  <div class="media-body">
                    <p>Ders Çaılışırken Yapamadığınız Bir Soruyu Sorabilir.Cevabını Animasyonlu Konu Anlatımı ile Öğrenebilirsiniz</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="mission">
                <div class="media">
                  <img class="pull-left media-object" src="assets/images/about-us/mission.jpg" alt="Mission">
                  <div class="media-body">
                    <p>Animasyonlar Görsel Öğrenim Teknikleri ile Öğrencinin Öğrenim Hızını Arttıracak Şekilde Tasarlanmıştır
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="community">
                <div class="media">
                  <img class="pull-left media-object" src="assets/images/about-us/community.jpg" alt="Community">
                  <div class="media-body">
                    <p>Anlamadığınız Soruların Konularını Kendi Youtube Kanalımızdan İzleyebilirsiniz</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h3>Kısa Sürede</h3>
            <div class="skill-bar">
              <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title">
                  <span>Korkularınızdan&nbsp;Kurtaracak</span>
                </div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
              </div>
              <!-- End Skill Bar -->
              <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title">
                  <span>Matematiği&nbsp;Sevdirecek</span>
                </div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
              </div>
              <!-- End Skill Bar -->
              <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title">
                  <span>Başarınızı&nbsp;Arttıracak</span>
                </div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
              </div>
              <!-- End Skill Bar -->
              <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title">
                  <span>Sayılar </span>
                </div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
              </div>
              <!-- End Skill Bar -->
              <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title">
                  <span>Wordpress</span>
                </div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
              </div>
              <!-- End Skill Bar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#about-us-->

  <section id="services" class="parallax-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="title-one">Kullanım Kolaylığı</h2>
          <p>İster android ister ios telefonlarda isterseniz tabletinizden her an heryerde yanınızda olacak bir matematik asistanı.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="our-service">
            <div class="services row">
              <div class="col-sm-4">
                <div class="single-service">
                  <i class="fa fa-th"></i>
                  <h2>Design</h2>
                  <p>Renklendirme ve Dizayn Görsel Hafıza Tekniklerince Onaylanmış Çocukların Dikkatinini Toplayarak Kendilerini
                    Matematiğin Dünysnda Hissetmelerini Sağlayacaktır
                  </p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-service">
                  <i class="fa fa-pencil-square-o"></i>
                  <h2>Hızlı Çözüm</h2>
                  <p>Sorunuzuz İlgili Olduğu Konuyu Bulun ve Sadece Sorudaki Değerleri Oraya Yazın Cevabın Detaylı Öğretici
                    İşlem Adımlarıyla Hızla Önünüze Geldiğini Göreceksiniz.Animasyonu İzleyip Soruyu Kavradığınızda Asistanınız
                    Benzer Soru Tarzlarından Kenidinizi Denemeniz İçin Size KENDİN DENE sayfasını açacaktır
                  </p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-service">
                  <i class="fa fa-users"></i>
                  <h2>Konu Anlatımlar</h2>
                  <p>Profesyonel Matematik Öğretmenlerince Hazırlanan Ders Anlatım Videoları İle Bilmediğiniz Konuları Öğrenin
                    ve Tekrar Asistanınızın KENDİN DENE sayfasından Size Soracağı Sorularla Konuyu Pekiştireceksiniz
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#service-->

  <section id="our-team">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="title-one">Marduk Team</h2>
          <p>TAKIMIMIZLA TANIŞIN ve SİZLERE DAHA İYİ GELİŞTİRMELER SUNMAMIZ İÇİN BİZE ULAŞIN</p>
        </div>
      </div>
      <div id="team-carousel" class="carousel slide" data-interval="false">


        <div class="carousel-inner team-members">
          <div class="row item active">
            <div class="col-sm-6 col-md-3">
              <div class="single-member">
                <img src="assets/images/our-team/member1.jpg" alt="team member" />
                <h4>Sezer KESTİ</h4>
                <h5>Yazılım Mühendisi</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                <div class="socials">

                  <a href="mailto:sezerkesti@gmail.com">
                    <i class="fa fa-google-plus"></i>
                  </a>

                  <a href="https://www.linkedin.com/in/sezer-kesti-648b92165">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="single-member">
                <img src="assets/images/our-team/member2.jpg" alt="team member" />
                <h4>Onur Tekin GÜNDOĞDU</h4>
                <h5>Yazılım MÜhendisi</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                <div class="socials">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>

                  <a href="mailto:onurtekin96@hotmail.com">
                    <i class="fa fa-google-plus"></i>
                  </a>

                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="single-member">
                <img src="assets/images/our-team/member3.jpg" alt="team member" />
                <h4>Sican YAVUZ</h4>
                <h5>İş Geliştirici</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                <div class="socials">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="single-member">
                <img src="assets/images/our-team/member4.jpg" alt="team member" />
                <h4>Büşra ...</h4>
                <h5>Tasarımcı</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                <div class="socials">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--/#Our-Team-->

  <section id="portfolio">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="title-one">Galeri</h2>
          <p></p>
        </div>
      </div>
      <ul class="portfolio-filter text-center">

        <li>
          <a class="btn btn-default active" href="#" data-filter=".html">4.SINIF</a>
        </li>
        <li>
          <a class="btn btn-default " href="#" data-filter=".wordpress">5.SINIF</a>
        </li>
        <li>
          <a class="btn btn-default " href="#" data-filter=".joomla">6.SINIF</a>
        </li>
        <li>
          <a class="btn btn-default" href="#" data-filter=".megento">7.SINIF</a>
        </li>
        <li>
          <a class="btn btn-default " href="#" data-filter="*">TAMAMI</a>
        </li>
      </ul>
      <!--/#portfolio-filter-->
      <div class="portfolio-items jooma">
        <div class="col-sm-3 col-xs-12 portfolio-item html">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/1.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item jooma">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/2.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item4.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/3.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item megento">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/4.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item html">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/5.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/6.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item html">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/7.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item joomla">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/8.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item html">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/9.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/10.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item joomla">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/11.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item3.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item megento">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="assets/images/portfolio/12.jpg" alt="">
            </div>
            <div class="mask text-center">
              <h3>KÜSUR-AT</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#">
                <i class="fa fa-link"></i>
              </a>
              <a href="assets/images/portfolio/big-item4.jpg" data-gallery="prettyPhoto">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!--/#portfolio-->

  <section id="clients" class="parallax-section">
    <div class="container">
      <div class="clients-wrapper">
        <div class="row text-center">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="title-one">Clients Say About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
          </div>
        </div>
        <div id="clients-carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#clients-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#clients-carousel" data-slide-to="1"></li>
            <li data-target="#clients-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="single-client">
                <div class="media">
                  <img class="pull-left" src="assets/images/clients/client1.jpg" alt="">
                  <div class="media-body">
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <small>Someone famous in Source Title</small>
                      <a href="">www.yourwebsite.com</a>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="single-client">
                <div class="media">
                  <img class="pull-left" src="assets/images/clients/client3.jpg" alt="">
                  <div class="media-body">
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <small>Someone famous in Source Title</small>
                      <a href="">www.yourwebsite.com</a>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="single-client">
                <div class="media">
                  <img class="pull-left" src="assets/images/clients/client2.jpg" alt="">
                  <div class="media-body">
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <small>Someone famous in Source Title</small>
                      <a href="">www.yourwebsite.com</a>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#clients-->

  <section id="blog">
    <div class="container">
      <div class="row text-center clearfix">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="title-one">Our Blog</h2>
          <p class="blog-heading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="single-blog">
            <img src="assets/images/blog/1.jpg" alt="" />
            <h2>Lorem ipsum dolor sit amet</h2>
            <ul class="post-meta">
              <li>
                <i class="fa fa-pencil-square-o"></i>
                <strong> Posted By:</strong> John</li>
              <li>
                <i class="fa fa-clock-o"></i>
                <strong> Posted On:</strong> Apr 15 2014</li>
            </ul>
            <div class="blog-content">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat.</p>
            </div>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-detail">Read More</a>
          </div>
          <div class="modal fade" id="blog-detail" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <img src="assets/images/blog/3.jpg" alt="" />
                  <h2>Lorem ipsum dolor sit amet</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-blog">
            <img src="assets/images/blog/2.jpg" alt="" />
            <h2>Lorem ipsum dolor sit amet</h2>
            <ul class="post-meta">
              <li>
                <i class="fa fa-pencil-square-o"></i>
                <strong> Posted By:</strong> John</li>
              <li>
                <i class="fa fa-clock-o"></i>
                <strong> Posted On:</strong> Apr 15 2014</li>
            </ul>
            <div class="blog-content">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat.</p>
            </div>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-two">Read More</a>
          </div>
          <div class="modal fade" id="blog-two" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <img src="assets/images/blog/2.jpg" alt="" />
                  <h2>Lorem ipsum dolor sit amet</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-blog">
            <img src="assets/images/blog/3.jpg" alt="" />
            <h2>Lorem ipsum dolor sit amet</h2>
            <ul class="post-meta">
              <li>
                <i class="fa fa-pencil-square-o"></i>
                <strong> Posted By:</strong> John</li>
              <li>
                <i class="fa fa-clock-o"></i>
                <strong> Posted On:</strong> Apr 15 2014</li>
            </ul>
            <div class="blog-content">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat.</p>
            </div>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-three">Read More</a>
          </div>
          <div class="modal fade" id="blog-three" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <img src="assets/images/blog/3.jpg" alt="" />
                  <h2>Lorem ipsum dolor sit amet</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-blog">
            <img src="assets/images/blog/3.jpg" alt="" />
            <h2>Lorem ipsum dolor sit amet</h2>
            <ul class="post-meta">
              <li>
                <i class="fa fa-pencil-square-o"></i>
                <strong> Posted By:</strong> John</li>
              <li>
                <i class="fa fa-clock-o"></i>
                <strong> Posted On:</strong> Apr 15 2014</li>
            </ul>
            <div class="blog-content">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat.</p>
            </div>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-four">Read More</a>
          </div>
          <div class="modal fade" id="blog-four" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <img src="assets/images/blog/3.jpg" alt="" />
                  <h2>Lorem ipsum dolor sit amet</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-blog">
            <img src="assets/images/blog/2.jpg" alt="" />
            <h2>Lorem ipsum dolor sit amet</h2>
            <ul class="post-meta">
              <li>
                <i class="fa fa-pencil-square-o"></i>
                <strong> Posted By:</strong> John</li>
              <li>
                <i class="fa fa-clock-o"></i>
                <strong> Posted On:</strong> Apr 15 2014</li>
            </ul>
            <div class="blog-content">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat.</p>
            </div>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-six">Read More</a>
          </div>
          <div class="modal fade" id="blog-six" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <img src="assets/images/blog/2.jpg" alt="" />
                  <h2>Lorem ipsum dolor sit amet</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="single-blog">
            <img src="assets/images/blog/1.jpg" alt="" />
            <h2>Lorem ipsum dolor sit amet</h2>
            <ul class="post-meta">
              <li>
                <i class="fa fa-pencil-square-o"></i>
                <strong> Posted By:</strong> John</li>
              <li>
                <i class="fa fa-clock-o"></i>
                <strong> Posted On:</strong> Apr 15 2014</li>
            </ul>
            <div class="blog-content">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat.</p>
            </div>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-seven">Read More</a>
          </div>
          <div class="modal fade" id="blog-seven" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <img src="assets/images/blog/1.jpg" alt="" />
                  <h2>Lorem ipsum dolor sit amet</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#blog-->

  <section id="contact">
    <div class="container">
      <div class="row text-center clearfix">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="contact-heading">
            <h2 class="title-one">Bize Yazın</h2>
            <p>Her Türlü Öneriniz İçin Bize Yazın</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="contact-details">
        <div class="pattern"></div>
        <div class="row text-center clearfix">
          <div class="col-sm-6">
            <div class="contact-address">
              <address>
                <p>
                  <span>MARDUK</span>TEAM</p>
                <strong>GENÇ
                  <br>DİNAMİK
                  <br>O GEMİ BİR GÜN GELECEK</strong>
                <br>

              </address>
              <div class="social-icons">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a href="#">
                  <i class="fa fa-dribbble"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="contact-form-section">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
                <div class="form-group">
                  <input type="text" name="name" class="form-control name-field" required="required" placeholder="İSİM">
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control mail-field" required="required" placeholder="MAİL">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="ÖNERİ ŞİKAYET NE VARSA ARTIK :)"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">GÖNDER GELSİN</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#contact-->

  <footer id="footer">
    <div class="container">
      <div class="text-center">
        <p>Copyright &copy; 2014 -
          <a href="http://mostafiz.me/">Mostafiz</a> | All Rights Reserved</p>
      </div>
    </div>
  </footer>
  <!--/#footer-->


</body>