<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
<img style="width: 120px;height: 120px" src="assets/images/Logo.jpeg">

<br/>
<br/>
<br/>
<br/>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
      <a href="#">sezer</a>
    </li>
    <li>
      <a href="#">at</a>
    </li>
    <li>
      <a href="#">Something else here</a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="#">Separated link</a>
    </li>
  </ul>
</div>
<br/>
<br/>
<button type="button" (click)="sk(kutu)" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<input type="text" placeholder="at" #kutu>
<button type="button" class="btn btn-link">Link</button>


<ul>
  <li *ngFor="let hero of heroes" [@heroState]="hero.state" (click)="hero.toggleState()">
    {{hero.name}}
  </li>
</ul>




<!--Include firebase.js  -->

<!--Configure firebase-->


<!--Handle auth events-->


<!--Handle page events-->